@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nerko+One&display=swap');

:root{
    --main-bg: #00296B;
    --cards-bg: #003F88;
    --secondary-bg: #9EB7E5;
    --font-color: white;
    --button-border: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", system-ui;
}

body {
    background-color: var(--main-bg);
}

/* Pantalla Inicio */
#pantalla-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    width: 100vw;
    height: 100vh;
    background: url("/assets/img/mokepon-inicio-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#play-game, .button {
    padding: 24px 64px;
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 44px;
    color: #fff;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.50);
    border-radius: 999px;
    background-color: rgb(51, 204, 0);
    border: none;
    box-shadow: 0 5px 0 0px rgba(255, 255, 255, 0.50) inset, 0 -7px 0px 0 rgba(0, 0, 0, 0.50) inset;

}

/* Seccion de mascotas */
#seleccionar-mascota {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 16px;
    background: url('/assets/img/mokepon-seleccionar.jpg');
}

.titulo img{
    width: 420px;
    height: auto;
}

.subtitulo {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    max-width: 400px;
    margin: 24px 0;
}

.tarjetas {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px 60px;
    border-radius: 24px;
    background-color: #ffffff82;
    position: relative;
}

.badge {
    padding: 4px 16px;
    border-radius: 16px;
    background-color: #00296B;
}

#contenedor-tarjetas .badge {
    position: absolute;
    top: -40px;
    left: calc(50% - 115px);
}

.tarjeta-mokepon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 140px;
    padding: 20px;
}

.tarjeta-mokepon p {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 20px;
    color: #002980;
}

.tarjeta-mokepon img {
    width: 150px;
    height: auto;
}

input {
    display: none;
}

input:checked + label {
   border-bottom: 3px solid #002980;
}

#boton-mascota, #boton-reiniciar {
    width: 200px;
    height: 60px;
    padding: 0;
    color: white;
    font-weight: 600;
    font-size: 24px;
}

/* Seccion de canvas */
#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 16px 32px;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #1C2DD3 0%, #66B6FF 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.mapa-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 24px;
    margin-top: 40px;
}

.arrows-subtitle-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa button {
    width: 70px;
    height: 50px;
    padding: 0;
    margin: 5px;
    border-radius: 16px;
    box-shadow: none;
    border: none;
    color: white;
    font-family: 'Luckiest Guy', sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(51, 204, 0);
    box-shadow: 0 5px 0 0px rgba(255, 255, 255, 0.20) inset, 0 -7px 0px 0 rgba(0, 0, 0, 0.10) inset;
}

canvas {
    border-radius: 20px;
}

/* Seccion de ataques */
#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px 16px 0px;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    gap: 40px;
}

.contenedor-izquierdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mascotas-seleccionadas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    height: 400px;
    background: url("/assets/img/background-2.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    padding: 40px 140px 80px;
}

#mascotas-seleccionadas .mascota {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#mascotas-seleccionadas img {
    width: 100px;
}

.vidas-nombre-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 4px;
    width: 136px;
    height: 56.8px;
    padding: 4px 8px;
    background: linear-gradient(180deg, rgba(255,255,255,0.50) 0%, rgba(78,210,236,1) 100%);
    border-radius: 8px;
}

.vidas {
    display: flex;
    flex-direction: row;
}

.vidas img {
    width: 24px !important;
}

.vidas-nombre-container p {
    color: #000;
    font-weight: 600;
}

.contenedor-derecho {
    display: flex;
    flex-direction: column;
}

.ataques-mensajes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    height: 400px;
}

.botones-ataques {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.boton-ataque {
    width: 80px;
    padding: 10px;
    border-radius: 20px;
    border-color: transparent;
    background-color: var(--cards-bg);
    color: var(--font-color);
    font-weight: 600;
    font-size: 16px;
}

.boton-ataque:active {
    background-color: var(--secondary-bg)
}

.boton-ataque:disabled {
    opacity: 0.5;
}

#mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 200px;
    color: #fff;
}

.ataques {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.resultados-ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    padding: 16px;
    border-radius: 16px;
    background: rgba(255,255,255,0.50);
}

#resultado{
    font-size: 24px;
    font-weight: 600;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--font-color);
    gap: 16px;
}

#ataque-jugador, #ataque-enemigo {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#ataque-enemigo {
    text-align: right;
}



@media (max-width: 900px) {
    .tarjetas, .botones-ataques{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenido {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    #mascotas-seleccionadas {
        width: 450px;
        height: 200px;
        padding: 20px 60px;
    }

    #mascotas-seleccionadas img {
        width: 80px;
    }

    #mascotas-seleccionadas .mascota {
        gap: 16px;
    }

    .vidas img {
        width: 20px !important;
    }
}

@media (max-width: 360px) {
    #ver-mapa div{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}